<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main_style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>
    </head>
    <body> 
        {{#each characters}}
            {{> sheet}}       
        {{/each}}
    </body>
</html>
