<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/main_style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>

    </head>
    <body>
      <div class="title-bar">
      		<img src="https://cdn.discordapp.com/attachments/371079677009199126/455635542109847552/dungeons_and_dragons_40_ampersand_flat1.png" class="dnd-img"> 
			<p id="title">Roll 19</p>
			<div class="home-container">
				<a href="/" id="home-button">Home</a> 
				<a href="list" id="char-list-button">Character List</a>
				<a href="edit" id="char-edit-button">New Character</a>
			</div>
			<p id="comedy-gold">Every Character Needs a Home</p>
	  </div>
      <div class="list-container">
        <div class="list-sheet">
          <div class="new-char">
           <a href="editSheet.html" id="newCharButton">Create New Character</a>
          </div>
          <div class="desc-container">
              <div class="desc-header">
                  <div class="header-name">
                      <p>Name</p>
                  </div>
                  <div class="header-lvl">
                      <p>Level</p>
                  </div>
                  <div class="header-class">
                      <p>Class</p>
                  </div>
                  <div class="header-race">
                      <p>Race</p>
                  </div>
                  <div class="header-edit">
                     <input type="text" id="search-input" placeholder="Search...">
                  </div>
              </div>
              <div class = "char-container">
                  {{#each characters}}
                    {{> list_char}}
                  {{/each}} 
             </div>
             </div>
          </div>
        </div>
      </div>
    </body>
    <script src="js/main.js"></script>
</html>
