<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main_style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>
        <script src="/js/AddCharacter.js"></script>
    </head>
    <body> 
        <div class="title-bar"> 
          <img src="https://cdn.discordapp.com/attachments/371079677009199126/455635542109847552/dungeons_and_dragons_40_ampersand_flat1.png" class="dnd-img"> 
          <p id="title">Roll 19</p>
          <div class="home-container">
              <a href="/" id="home-button">Home</a> 
          	  <a href="/list" id="char-list-button">Character List</a>
			  <a href="/edit" id="char-edit-button">New Character</a>
		  </div>
          <p id="comedy-gold">Every Character Needs a Home</p>    
		    </div>           
        </div>
        <div class="edit-container">
            {{#each characters}}
                {{> form}}
            {{/each}}
        </div>
    </body>
</html>
