* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    padding: 5px;
    display: inline-block;
}

hr {
    margin-top: auto;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


textarea {
    resize: none;
}

div {
    border: 1px solid black;
}

.sheet-container {
    display: flex;
    justify-content: center;
    border: none;
    margin-top: 10px;
    margin-bottom: 50px;
}

.char-sheet {
    width: 60%;
    display: flex;
    border: none;
    flex-wrap: wrap;
}

.char-header {
    width: 100%;
    display:flex;
    border: none;
}

.char-name {
    font-size: 30px;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.char-name-name {
    margin-top: 20px;
}

.desc {
    text-align: center;
    font-size: 10px;
    color: gray;
    margin: 0;
    font-weight: normal;
    /* margin-top: auto; */
}

.char-info {
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.char-class, .char-level, .char-background, .char-race, .char-alignment, .char-exp {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 33%;
    border: none;
}

.char-content {
    display: flex;
    width: 100%;
}

.char-stats-money, .char-hp-equipment, .char-traits-prof-feats {
    flex-grow: 1;
    flex-basis: 33%; 
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
}

.char-stats {
    border:none;
}

.char-str, .char-dex, .char-con, .char-int, .char-wis, .char-cha {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-top: 2px solid black;
    margin-top: 10px;
}

.char-stat-nums {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
}

.char-stat-raw {
    padding: 10px;
    border: 2px solid black;
    border-top: none;
}

.char-stat-mod {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 60px;
    font-weight: bold;
    border: 2px solid black;
    border-top: none;
}

.char-stat-name {
    font-size: 9px;
    margin-top: auto;
    font-weight: normal;
}

.char-stat-profs {
    flex-grow: 1;
    border: none;
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    font-size: 12px;
}

.char-stat-profs p {
    padding: 0;
    margin-left: 20px;
}

.fa-circle, .fa-square {
    font-size: 10px;
    transform: rotate(45deg);
}

.char-stat-misc {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.char-prof-bonus {
    background-color:black;
}

.char-stat-misc-label {
    flex-basis: 80%;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.char-prof-bonus {
    flex-basis: 20%;
    border: 2px solid black;
    border-right: none;
    padding: 10px;
    background-color: white;
}
