* {
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: inline-block;
  background-color: lightgrey;
  border: 2px outset Beige;
}
a:active {
	border-style: inset;
}
a:hover {
    cursor: pointer;
}
body {
	font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    padding: 5px;
    display: inline-block;
    word-break: break-all;
    white-space: normal;
}

hr {
    margin-top: auto;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div {
    border: 1px solid black;
}

.title-bar {
	display: flex;
	flex-direction: row; 
	justify-content: center;
	background-color: #FF6347;
	font-size: 25px;
	height: 80px;
	border: 1px ridge darkgrey;
	border-width: 0px 0px 1px 0px;
	margin-bottom: 10px;
}
#home-button, #char-edit-button, #char-list-button, #real-edit-button{
	margin-left: 30px;
	margin-top: 24px;
	margin-bottom: 8px;
	padding-top: 8px;
	background-color: white; 
	border: 1px outset black;
	border-radius: 10px 10px 0px 0px;
	padding-left: 5px;
}
.dnd-img {
	flex-basis: 3%; 
	width: 85px;
	height: 85px;
	margin-top: 7px;
}
#title {
	margin-top: 15px;
	padding-top: 9px;
	padding-left: 29px;
	margin-bottom: 8px;
	flex-basis: 19.25%; 
	font-size: 35;
	border: 1px ridge black;
	border-width: 0px 1px 0px 0px;
	text-shadow: 1px 1px black;
}
.home-container {
	border: none;
	display: flex;
	flex-basis: 54.5%;
}
#comedy-gold {
	padding-top: 55px;
	padding-left: 7px;
	text-align: right;
	flex-basis: 23%;
	font-size: 15px;
}

.new-char {
	width: 100%;
	display: flex; 
	justify-content: center; 
	border: none;
	padding-top: 10px;
	padding-bottom: 15px;
}
#newCharButton {
	font-size: 30px;
	border-width: 2px
}
.desc-container {
	display: flex; 
	width: 100%;
	flex-direction: column;
}
.desc-header {
	display: flex;
	width: 100%;
	flex-direction: row; 
	font-size: 20px;
}
.header-name {
	flex-basis: 32%;
	flex-grow: 5;
}
	
.header-lvl {
	flex-grow: 1;
	flex-basis: 8%; 
}
.header-class, .header-race {
	flex-grow: 3;
	flex-basis: 21%;
}
.header-edit {
	flex-grow: 2;
	flex-basis: 18%;
	display: flex; 
	align-items: center;
	justify-content: center;
	padding-left: 1px;
}


.char-container {
	width: 100%;
	display flex;
}
.char-desc {
	display: flex;
	width: 100%; 
	flex-direction: row;
	font-size: 16px;
}

.list-name {
	flex-grow: 5;
	flex-basis: 32%;	
	margin: none;
}
.list-lvl  {
	flex-grow: 1;
	flex-basis: 8%;
	margin: none;
}
.list-class, .list-race {
	flex-grow: 3;
	margin: none;
	flex-basis: 21%;
	margin
}
.list-edit, .list-view {
  flex-grow: 1;
  margin: none;	
  display: flex;
  justify-content: center; 
  flex-basis: 9%;
}
.list-button {
	margin-top: 5px;
	margin-bottom: 5px;
}
.edit-header {
	width: 99.5%; 
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap; 
}
.edit-desc {
	justify-content: center; 
	display: flex;
	flex-direction: column; 
	padding-bottom: 10px;
	border: none; 
	flex-basis: 33%;
}
.desc-name {
	text-align: center;
	word-break: normal;
}
.button-container {
	flex-basis: 32.7%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	border: 10px;
	margin: 2px;
}

#save-button :hover {
    cursor: pointer;
}
#delete-button {
	background-color: #ff6347;
}	

.edit-content {
	display: flex;
	flex-direction: column;
	flex-basis: 33%;
}
.edit-attribute {
	display: flex;
	flex-direction: row; 
}
.edit-value {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	width: 50%;	
}
#persuasion {
	margin-bottom: 6px;
}


.input {
	position: relative;
	left: 10%;
	width: 80%;
}
.edit-proficiency {
	width: 50%;
	display: flex;
	flex-direction: column;
	font-size: 12px;
}


.text-column {
	display: flex; 
	flex-direction: column;
	flex-basis: 33%;
}
.more-attributes {
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: center;
}
.edit-value2 {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	width: 33%;
	border: none;
}
#speed-name {
	padding-top: 24px;
	padding-bottom: 5px;
}
.text-field {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px; 
	width: 100%;
}
#equipment-text { 
	position: relative;
	height: 511px;
	width: 90%;
	left: 5%;	
	resize: none;
}
.right-box {
	position: relative;
	height: 303px;
	width: 90%;
	left: 5%;
	resize: none;
}
#feats-text {
	height: 304px;
}

.sheet-container, .list-container, .edit-container {
    display: flex;
    justify-content: center;
    border: none;
    margin-top: 0px;
    margin-bottom: 30px;
}

.char-sheet, .list-sheet, .edit-sheet {
    width: 54%;
    display: flex;
    border: none;
    flex-wrap: wrap;
}

.char-header {
   	background-color: white;
   	width: 100%;
    display: flex;
    border: none;
}

.char-name {
    font-size: 30px;
    font-weight: bold;
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-left: 2px solid black;
    border-top: 2px solid black;
    min-width: 300px;
}

.char-name-name {
    margin-top: 20px;
}

.desc {
    text-align: center;
    font-size: 10px;
    color: grey;
    margin: 0;
    font-weight: normal;
}

.char-info {
    flex-basis: 66.8%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-right: 2px solid black;
    border-top: 2px solid black;
    min-width: 690px;
}

.char-class, .char-level, .char-background, .char-race, .char-alignment, .char-exp {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    border: none;
}

.char-content {
    display: flex;
    width: 100%;
    min-width: 994px;
}

.char-stats-money, .char-hp-equipment, .char-traits-prof-feats {
    flex-basis: 33.3%; 
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
}

.char-stats {
    min-width: 300px;
    border:none;
}

.char-str, .char-dex, .char-con, .char-int, .char-wis, .char-cha {
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-top: 2px solid black;
    margin-top: 10px;
}

.char-stat-nums {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
}

.char-stat-raw {
    padding: 10px;
    border: 2px solid black;
    border-top: none;
}

.char-stat-mod {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 60px;
    font-weight: bold;
    border: 2px solid black;
    border-top: none;
}

.char-stat-name {
    font-size: 9px;
    margin-top: auto;
    font-weight: normal;
}

.char-stat-profs {
    flex-grow: 1;
    border: none;
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    margin-top: 10px;
    font-size: 12px;
}

.char-stat-profs p {
    padding: 0;
    margin-left: 20px;
}

.fa-circle, .fa-square {
    font-size: 10px;
    transform: rotate(45deg);
}

.char-stat-misc {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border: none;
    text-align: center;
}

.char-stat-misc-label {
    flex-grow: 1;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
}

.char-prof-bonus {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80px;
    border: 2px solid black;
    border-right: none;
    background-color: white;
}

.char-hp, .char-equipment, .char-traits, .char-feats {
    flex-grow: 1;
    min-width: 300px;
    max-width: 500px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.char-equipment, .char-feats {
    margin-bottom: 10px;
}

.char-hp {
    flex-grow: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.char-ac {
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex-basis: 100%;
    text-align: center;
    border: 2px solid black;
}

.char-initiative, .char-hitpoints, .char-speed {
    margin-left: 5px;
    border: 2px solid black;
    flex-basis: 29.7%;    
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5px;
}
.char-speed {
    margin-right: 5px;
}
.page-not-found{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 60px;
	border: none;
}
.meme{
    display: flex;

    justify-content: center;
    margin-top: 30px;
    font-size: 60px;
	border: none;
}


.suggestion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
	border: none;
}
.dnd-img {
	flex-basis: 3%;
	width: 65px;
	height: 65px;
	margin-left: none;
}
.about-head {
    word-break: normal;
    position: absolute;
    width: 35%;
    left: 200px;
    top: 250px;
    font-size: 50px;
    border: none;
}

.about-body {
    word-break: normal;
    width: 35%;
    position: relative;
    left: 210px;
    top: 300px;
    font-size: 25px;
    border: none;
}

.dragon-image{
        position: absolute;
        right: 100px;
        top: 150px;
        font-size: 30px;
        border: none;
        z-index: -1;
}

.hidden{
    display: none;
}
.about {
  border: none;
}
