* {
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: inline-block;
  background-color: grey; 
}
body {
	font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    padding: 5px;
    display: inline-block;
}

hr {
    margin-top: auto;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div {
    border: 1px solid black;
}

.title-bar {
	display: flex;
	justify-content: center;
	background-color: #FF6347;
	font-size: 30px;
	border: none;
	height: 50px;
}
.dnd-img {
	width: 50px;
	height: 50px;
}

.new-char {
	width: 100%;
	display: flex; 
	justify-content: center; 
	border-style: groove solid; 
}
#newCharButton {
	font-size: 30px;
	border: none;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}
.desc-container {
	display: flex; 
	width: 100%;
	flex-direction: column;
}
.desc-header {
	display: flex;
	width: 100%;
	flex-direction: row; 
    justify-content: center;
	font-size: 20px;
}
.header-name {
	flex-basis: 32%;
}
	
.header-lvl {
	flex-basis: 8%; 
}

.header-class, .header-race {
	flex-basis: 21%;
}
.header-edit {
	flex-basis: 18%; 
	display: flex; 
	align-items: center;
	justify-content: center;
	padding-left: 1px;
}



.char-desc {
	display: flex;
	width: 100%; 
	flex-direction: row;
	font-size: 16px;
}

.list-name {
	flex-basis: 32%;	
}
.list-lvl  {
	flex-basis: 8%;
}
.list-class, .list-race {
	flex-basis: 21%;
}
.list-edit, .list-view {
  display: flex;
  justify-content: center; 
  flex-basis: 9%;
}
.edit-header {
	width: 100%; 
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap; 
	justify-content: center;
}
.edit-desc {
	justify-content: center; 
	display: flex;
	flex-direction: column; 
	padding-bottom: 10px;
	border: none; 
	flex-basis: 33%;
}
.desc-name {
	text-align: center;
}
.button-container {
	flex-basis: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	border: 10px;
	margin: 2px;
}
#delete-button {
	background-color: #ff6347;
}	

.edit-content {
	display: flex;
	flex-direction: column;
	flex-basis: 33%;
}
.edit-attribute {
	display: flex;
	flex-direction: row; 
}
.edit-value {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	width: 50%;	
}
#persuasion {
	margin-bottom: 6px;
}


.input {
	position: relative;
	left: 10%;
	width: 80%;
}
.edit-proficiency {
	width: 50%;
	display: flex;
	flex-direction: column;
	font-size: 12px;
}


.text-column {
	display: flex; 
	flex-direction: column;
	flex-basis: 33%;
}
.more-attributes {
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: center;
}
.edit-value2 {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	width: 33%;
	border: none;
}
.speed-name {
	padding-bottom: 5px;
}

.text-field {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px; 
	width: 100%;
}
#equipment-text { 
	position: relative;
	height: 530px;
	width: 90%;
	left: 5%;	
}
.right-box {
	position: relative;
	height: 303px;
	width: 90%;
	left: 5%;
}

.sheet-container, .list-container, .edit-container {
    display: flex;
    justify-content: center;
    border: none;
    margin-top: 0px;
    margin-bottom: 30px;
}

.char-sheet, .list-sheet, .edit-sheet {
    width: 55%;
    display: flex;
    border: none;
    flex-wrap: wrap;
}

.char-header {
   	background-color: white;
   	width: 100%;
    display: flex;
    border: none;
}

.char-name {
    font-size: 30px;
    font-weight: bold;
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-left: 2px solid black;
    border-top: 2px solid black;
    min-width: 300;
}

.char-name-name {
    margin-top: 20px;
}

.desc {
    text-align: center;
    font-size: 10px;
    color: grey;
    margin: 0;
    font-weight: normal;
}

.char-info {
    flex-basis: 66.8%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-right: 2px solid black;
    border-top: 2px solid black;
    min-width: 690;
}

.char-class, .char-level, .char-background, .char-race, .char-alignment, .char-exp {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    border: none;
}

.char-content {
    display: flex;
    width: 100%;
    min-width: 994;
}

.char-stats-money, .char-hp-equipment, .char-traits-prof-feats {
    flex-basis: 33.3%; 
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
}

.char-stats {
    min-width: 300px;
    border:none;
}

.char-str, .char-dex, .char-con, .char-int, .char-wis, .char-cha {
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-top: 2px solid black;
    margin-top: 10px;
}

.char-stat-nums {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
}

.char-stat-raw {
    padding: 10px;
    border: 2px solid black;
    border-top: none;
}

.char-stat-mod {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 60px;
    font-weight: bold;
    border: 2px solid black;
    border-top: none;
}

.char-stat-name {
    font-size: 9px;
    margin-top: auto;
    font-weight: normal;
}

.char-stat-profs {
    flex-grow: 1;
    border: none;
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    margin-top: 10px;
    font-size: 12px;
}

.char-stat-profs p {
    padding: 0;
    margin-left: 20px;
}

.fa-circle, .fa-square {
    font-size: 10px;
    transform: rotate(45deg);
}

.char-stat-misc {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border: none;
    text-align: center;
}

.char-stat-misc-label {
    flex-grow: 1;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
}

.char-prof-bonus {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80px;
    border: 2px solid black;
    border-right: none;
    background-color: white;
}

.char-hp, .char-equipment, .char-traits, .char-feats {
    flex-grow: 1;
    min-width: 300;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.char-equipment, .char-feats {
    margin-bottom: 10px;
}

.char-hp {
    flex-grow: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.char-ac {
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex-basis: 100%;
    text-align: center;
    border: 2px solid black;
}

.char-initiative, .char-hitpoints, .char-speed {
    margin-left: 5px;
    border: 2px solid black;
    flex-basis: 29.7%;    
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5px;
}
.char-speed {
    margin-right: 5px;
}
